.root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.sidebar {
  position: fixed;
  bottom: 0%;
  top: 0%;
  left: 0%;
  right: calc(100vw - 280px);
}

.content {
  margin-left: 280px;
  height: 100%;
  width: calc(100vw - 280px);
}
